body {
  font-size: 16px;
  color: #fff;
  background-color: #7FDBFF;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: #39CCCC;
  border-radius: 0;
  border: 0;

}
.navbar-brand {
  padding-top: 25px;
}
li > a{
  border: 1px solid black;
}

.navbar-brand h1{
  font-family: 'Lora',serif;
  color: #001f3f;
font-size: 1.5em;
position: absolute;
text-shadow: 1px 1px 1px #222;
left: 0;
top: 0;
  padding-left: 25px;
line-height: .75;
}

padding-left: 10px;
}

.navbar-brand a:hover, .navbar-brand a:focus {

  text-decoration: none;
}
#nav-list{
  margin-top: 10px;
  
}
#nav-list a{
 color: #951C49;
 text-align: center;

}
#nav-list a:hover {

 background : #E7E7E7;

}
#nav-list a span{
  font-size: 1.8em;

}
#title {
font-size: 2em;

font-family: 'Lora',serif;
  color: #001f3f;

}
#main-content{
  background: #39CCCC;
 
 border: 1px solid black;
margin-bottom: 20px;
}



@media (max-width: 767px) {

#main-content{

  margin-right: 20px;
  margin-left: 20px;

  }
